{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="{% static "css/spotlightcentral.css" %}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Spotlight Central">
        <meta name="keywords" content="spotlight, central, highlights">
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            <h2>SPOTLIGHTCENTRAL</h2>
            <p>This is for highlights.</p>
            <ul>
                {% block sidebar %}{% endblock %}
            </ul>
            <p>&copy; 2023 Spotlight Central</p>
        </div>
    </body>
</html>